@import "./variables.scss";

.primary-button {
  background-color: $secondary-blue;
  color: $primary-blue;
  height: 50px;
  border-radius: 12px;
  font-weight: 500;
  padding: 0 24px;
  border: none;
  cursor: pointer;
}
