@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./variables.scss";

body {
  background-color: #f9f9f9;
  font-family: "Inter", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.todo-wrapper {
  flex-grow: 1;
  max-width: $max-width;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  .no-tasks-wrapper {
    h1,
    h2 {
      font-weight: 500;
      margin: 2px;
    }
    h1 {
      text-align: center;
      font-size: 28px;
    }
    h2 {
      text-align: center;
      font-size: 24px;
      color: $dark-gray
    }
  }
}

@media only screen and (min-width: 320px) {
  .todo-wrapper {
    width: 288px;
  }
}
@media only screen and (min-width: 480px) {
  .todo-wrapper {
    width: 380px;
  }
}
@media only screen and (min-width: 770px) {
  .todo-wrapper {
    width: 600px;
  }
}
