@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");



body {
  background-color: #f9f9f9;
  font-family: "Inter", serif;
}

.todo-wrapper {
  // border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  // padding: 24px 8px;
  margin: 32px;
  // background-color: #fff;
  border-radius: 16px;
}
